.editorconfig export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.gitlab-ci.yml export-ignore
.php-cs-fixer.dist.php export-ignore
SECURITY.md export-ignore
ci-test.sh export-ignore
docker-compose.yml export-ignore
guide export-ignore
phpdoc.dist.xml export-ignore
phpmd.xml export-ignore
phpstan.neon.dist export-ignore
phpunit.xml.dist export-ignore
tests export-ignore
